@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bg-base: 0 0% 100%;
		--color-base: 0 0% 0%;
		--color-primary-0: 204 60% 90%;
		--color-primary-10: 205 57% 82%;
		--color-primary-20: 202 57% 68%;
		--color-primary-30: 202 61% 58%;
		--color-primary-40: 202 56% 50%;
	}
	:root[data-theme='dark'] {
		--bg-base: 0 0% 0%;
		--color-base: 0 0% 100%;
	}

	* {
		@apply box-border list-none p-0 m-0 scroll-smooth;
	}
	body {
		@apply container max-w-screen-2xl mx-auto;
	}
}

@layer utilities {
	.card-restaurant {
		@apply relative w-full h-full bg-gradient-to-tr from-[#333] to-slate-600 rounded-2xl overflow-hidden shadow-glass-sm;
	}

	.card-restaurant::before {
		background: conic-gradient(
			rgba(244, 114, 182, 0.7) 0deg,
			rgba(0, 230, 254, 0.7) 0deg,
			transparent 110deg
		);

		@apply absolute h-[200%] w-[200%] -left-1/2 -top-1/2
			content-[''] animate-border-spin;
	}
}

.custom-scrollbar::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #ddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #3892c6;
	border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #7fbadc;
}

.ant-menu-vertical .ant-menu-item {
	display: flex;
	justify-items: center;
	align-items: center;
}
.ant-menu-overflow .ant-menu-item {
	display: flex;
	justify-items: center;
	align-items: center;
}

.slick-list,
.slick-lider,
.slick-track {
	padding: 3rem 0;
}

.carousel-category .slick-list,
.carousel-category .slick-slider,
.carousel-category .slick-track {
	padding: 0.5rem 0;
}
.carousel-category .slick-arrow {
	color: #3892c6 !important;
}

.center .slick-center .card-menu {
	transform: scale(1.2);
	z-index: 99;
	transition: all 0.4s ease-in-out;
	opacity: 1;
}

@media (max-width: 767px) {
	.slick-list,
	.slick-lider,
	.slick-track {
		padding: 0.5rem 0;
	}
}

/* #restaurant-name:before {
	content: attr(data-text);
	position: absolute;
	top: 30px;
	left: -20px;
	color: rgba(0, 0, 0, 0.3);
	text-shadow: none;
	filter: blur(8px);
	z-index: -1;
} */
