@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bg-base: 0 0% 100%;
		--color-base: 0 0% 0%;
		--color-primary-0: 204 60% 90%;
		--color-primary-10: 205 57% 82%;
		--color-primary-20: 202 57% 68%;
		--color-primary-30: 202 61% 58%;
		--color-primary-40: 202 56% 50%;
	}
	:root[data-theme='dark'] {
		--bg-base: 0 0% 0%;
		--color-base: 0 0% 100%;
	}

	* {
		@apply box-border list-none p-0 m-0 scroll-smooth;
	}
	body {
		@apply container max-w-[1440px] mx-auto;
	}
}

.custom-scrollbar::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #ddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #3892c6;
	border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #7fbadc;
}

.ant-menu-vertical .ant-menu-item {
	display: flex;
	justify-items: center;
	align-items: center;
}
.ant-menu-overflow .ant-menu-item {
	display: flex;
	justify-items: center;
	align-items: center;
}

.slick-list,
.slick-lider,
.slick-track {
	padding: 3rem 0;
}

.center .slick-center .card-menu {
	transform: scale(1.2);
	z-index: 99;
	transition: all 0.4s ease-in-out;
	opacity: 1;
}

@media (max-width: 767px) {
	.slick-list,
	.slick-lider,
	.slick-track {
		padding: 0.5rem 0;
	}
}
